@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header{
  display: flex;
  justify-content: space-between;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  
}
.footer{
  display: flex;
  justify-content: space-between;
  background: #eee;
}

.left-links{
  display: flex;
  
}

.right-links{
  display: flex;
}

ul 
{
    list-style-type: none;
    padding: 10px;
    margin: 0px;
}

ul li
{
    
    padding: 10px;
}

a {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  color: gray;
}




img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
